body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #111;
  color: #eee;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-btn {
  padding: 10px 15px;
  background: orange;
  border: none;
  cursor: pointer;
  color: black;
}

.tab-btn.active {
  background: grey;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

#searchResults div {
  background: #222;
  padding: 5px;
  cursor: pointer;
  margin-top: 2px;
}

#searchResults div:hover {
  background: #333;
}

input, select {
  margin: 5px;
  padding: 6px;
}

button {
  padding: 6px 12px;
  margin: 5px;
  cursor: pointer;
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #222;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #555;
  color: white;
}

.meal-header {
  background: #444;
  color: orange;
  font-weight: bold;
  text-align: left;
}
#databaseSearchInput {
  padding: 6px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
